footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 139px;
  padding: 21px 25px 10px 25px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(12px);

  div {
    img {
      max-height: 60px;
      max-width: 130px;
      object-fit: contain;
      background-color: #000000;
      border-radius: 12px;
    }

    .divider {
      height: 1px;
      background-color: rgba(0, 0, 0, 0.12);
      width: 100%;
      margin: 0 1.5vw;
    }

    .social-media-container {
      display: flex;
      align-items: center;
      gap: 1.5vw;

      i {
        font-size: 20px;
        color: #01426a;
      }

      a mat-icon {
        height: 19px;
        width: 19px;
        font-size: 19px;
        color: #01426a;
      }
    }
  }

  .dados-pleno {
    color: #b5b5b5;
    font-size: 13px !important;
    font-weight: 600;
    line-height: 14px;

    a {
      font-size: 14px !important;
    }
  }
}


@media (max-width: 500px) {
  .social-media-container {
    gap: 16px !important;
  }
}

.container-footer {
  height: 60px;
}

.subcontainer-footer {
  height: 44px;
}

#footer-dark {
  background-color: #141414;
  border-top: 1px solid #333333;

  div {
    img {
      border: 1px solid #333333;
    }

    .divider {
      background-color: #686868 !important;
      height: 1px;
    }

    .dados-pleno {
      color: #FAFAFA !important;

      a {
        color: #00D194;
      }
    }

    i {
      font-size: 20px;
      color: #FAFAFA;
    }
  }
}