footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 110px;
  padding: 25px 25px 20px 25px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(12px);

  div {
    img {
      height: 50px;
      width: 80px;
      object-fit: contain;
      background-color: #ffffff;
    }

    .divider {
      height: 1px;
      background-color: rgba(0, 0, 0, 0.12);
      width: 100%;
      margin: 0 12px;
    }

    .social-media-container {
      display: flex;
      align-items: center;
      gap: 2vw;
      padding-left: 1vw;

      i {
        font-size: 15px;
        color: #01426a;
      }

      a mat-icon {
        height: 19px;
        width: 19px;
        font-size: 19px;
        color: #01426a;
      }
    }
  }

  .dados-pleno {
    color: #b5b5b5;
    font-size: 12px !important;
    line-height: 14px;
  }
}


@media (max-width: 500px) {
  .social-media-container {
    gap: 16px !important;
  }
}

