<footer [id]="backend.isHostAberto ? 'footer-dark' : ''">
  <div class="d-flex justify-content-between align-items-center container-footer">
    <img
      #img
      (error)="img.src = this.defaultImage"
      [src]="logoEmpresa"
      alt="logo-empresa"
      loading="lazy">
    <div class="divider"></div>
    <div class="social-media-container">
      @if (telefoneFormatado) {
        <a
          [href]="'https://wa.me/55' + telefoneFormatado + '?text=Olá!%20vim%20da%20página%20de%20agendamentos,%20gostaria%20de%20mais%20informações.'"
          target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      }

      @if (imobiliaria?.imob_email) {
        <a [href]="'mailto:' + imobiliaria?.imob_email" target="_blank"><i class="far fa-envelope"></i></a>
      }
    </div>
  </div>
  <div class="w-100 pt-2 d-flex justify-content-between align-items-end subcontainer-footer">
    <div>
      <p class="m-0 dados-pleno"><b>{{ imobiliaria?.imob_empresa }}</b></p>
      @if (imobiliaria?.imob_cnpj) {
        <p class="m-0 dados-pleno">CNPJ: {{ imobiliaria?.imob_cnpj }}</p>
      } @else if (imobiliaria?.imob_cpf) {
        <p class="m-0 dados-pleno">CPF: {{ imobiliaria?.imob_cpf }}</p>
      }
    </div>
    <div>
      <p class="m-0 dados-pleno">
        Desenvolvido por <b><a href="https://sistemaspleno.com" target="_blank">Pleno Sistemas</a></b>
      </p>
    </div>
  </div>
</footer>