<header>
  <div class="d-flex align-items-center justify-content-between h-100">
    <div class="d-flex empresa-container">
      <img
        alt="logo-empresa"
        [src]="logoUsuario">
      <div class="d-flex flex-column align-items-start justify-content-center pt-1">
        <h5 class="mb-0 online-msg">Online</h5>
      </div>
    </div>
    @if(user) {
      <button color="primary" matButton="text" [matMenuTriggerFor]="menu" class="px-0">
        <mat-menu #menu="matMenu">
          <button (click)="openLogoutModal()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            Sair
          </button>
        </mat-menu>
        <div class="d-flex justify-content-center align-items-center usu-container">
          <mat-icon>account_circle</mat-icon>
          <small class="mb-0 text-truncate w-100">{{ user?.usu_nome }}</small>
        </div>
      </button>
    } @else {
      <button color="primary" matButton="text" class="button-account" (click)="login()">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon>account_circle</mat-icon>
          <small class="mb-0">LOGIN</small>
        </div>
      </button>
    }
  </div>
</header>
