<header [id]="backend.isHostAberto ? 'header-dark' : ''">
  <div class="d-flex align-items-center justify-content-between h-100">
    <div class="d-flex empresa-container">
      <img
        #img
        (error)="img.src = this.defaultImage"
        [src]="logoEmpresa"
        alt="logo-empresa"
        loading="lazy">
      <div class="d-flex flex-column align-items-start justify-content-center pt-1">
        <h5 class="mb-0 online-msg">Online</h5>
      </div>
    </div>
    @if (authService.pessoaValue?.pes_codigo) {
      <button color="primary" matButton="text" [matMenuTriggerFor]="menu" class="px-0">
        <mat-menu #menu="matMenu">
          @if (!backend.isHostAberto) {
            <button mat-menu-item (click)="redirecionaParaMinhaConta()">
              <mat-icon class="color-pleno">account_circle</mat-icon>
              <p class="mb-0">Meus dados</p>
            </button>
          }

          <button (click)="openLogoutModal()" mat-menu-item>
            <mat-icon class="color-pleno">logout</mat-icon>
            <p class="mb-0">Sair</p>
          </button>
        </mat-menu>
        <div class="d-flex justify-content-center align-items-center usu-container">
          @if (authService.pessoaValue?.pes_logo) {
            <img class="user-image" [src]="authService.pessoaValue?.pes_logo" alt="foto-usuario">
          } @else {
            <mat-icon>account_circle</mat-icon>
          }
          <small class="mb-0 text-truncate w-100">
            {{ authService.pessoaValue?.pes_nome }}</small>
        </div>
      </button>
    } @else {
      <button
        color="primary"
        matButton="text"
        class="button-account"
        (click)="login()">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon>account_circle</mat-icon>
          <small class="mb-0">LOGIN</small>
        </div>
      </button>
    }
  </div>
</header>