<div
  [formGroup]="form" [id]="backend.isHostAberto ? 'pergunta-dark' : ''"
  class="main-container-ia-message">
  <img
    [src]="`${backend.hostAPI}vistoria/logo-imobiliaria?host=${backend.urlSistema}`"
    alt="logo-empresa">
  <div class="ia-message px-4 py-2">
    <p [innerHTML]="(perguntaSolicitacao.pergunta | nl2br | safe : 'html')" class="pt-2 mb-1"></p>
    @switch (true) {
      @case (perguntaSolicitacao.tipo_input === 'TEXT') {
        <mat-form-field class="w-100">
          <input
            #respostaInput
            (keydown.enter)="form.get('resposta')?.value && enviarMensagem()"
            (keydown.space)="$event.stopPropagation()"
            class="position-relative input-pergunta"
            formControlName="resposta"
            matInput
            placeholder="Digite aqui"
            type="text">
          <div class="button-container position-absolute">
            <button
              (click)="enviarMensagem()"
              [disabled]="!form.get('resposta')?.value"
              matButton="filled">
              @if (UtilsService.loading.value) {
                <mat-spinner></mat-spinner>
              } @else {
                <mat-icon class="send-icon">send</mat-icon>
              }
            </button>
          </div>
        </mat-form-field>
      }
      @case (perguntaSolicitacao.tipo_input === 'SELECT') {
        @if (perguntaSolicitacao.options.length > 5) {
          <mat-form-field class="w-100">
            <mat-select
              (selectionChange)="enviarMensagem()"
              formControlName="resposta">
              <div class="w-100 p-2">
                <mat-form-field class="w-100">
                  <input
                    #respostaInput
                    (keydown.space)="$event.stopPropagation()"
                    class="position-relative input-search"
                    formControlName="search"
                    matInput
                    placeholder="Selecione uma opção"
                    type="text">
                  <div class="icon-container position-absolute">
                    <mat-icon class="search-icon">search</mat-icon>
                  </div>
                </mat-form-field>
                @for (pergunta of filteredOptions; track pergunta) {
                  <mat-option [value]="pergunta">{{ pergunta?.label_desc }}</mat-option>
                }
              </div>
            </mat-select>
          </mat-form-field>
        } @else {
          <mat-chip-listbox formControlName="resposta">
            @for (pergunta of filteredOptions; track pergunta) {
              <mat-chip-option
                (click)="enviarMensagem()"
                [value]="pergunta">
                {{ pergunta?.label_desc }}
              </mat-chip-option>
            }
          </mat-chip-listbox>
        }
      }
      @case (perguntaSolicitacao.tipo_input === 'INTEGER') {
        <mat-form-field class="w-100">
          <input
            #respostaInput
            (keydown.enter)="form.get('resposta')?.value && enviarMensagem()"
            (keydown.space)="$event.stopPropagation()"
            class="position-relative input-pergunta"
            formControlName="resposta"
            matInput
            onlyNumbers
            placeholder="Digite aqui"
            type="number">
          <div class="button-container position-absolute">
            <button
              (click)="enviarMensagem()"
              [disabled]="!form.get('resposta')?.value"
              matButton="filled">
              @if (UtilsService.loading.value) {
                <mat-spinner></mat-spinner>
              } @else {
                <mat-icon class="send-icon">send</mat-icon>
              }
            </button>
          </div>
        </mat-form-field>
      }
      @case (perguntaSolicitacao.tipo_input === 'FLOAT') {
        <mat-form-field class="w-100">
          <input
            #respostaInput
            (keydown.enter)="form.get('resposta')?.value && enviarMensagem()"
            [currencyMask]="{ prefix: '', thousands: '.', decimal: ',', align: 'left' }"
            class="position-relative input-pergunta"
            formControlName="resposta"
            matInput
            placeholder="Digite aqui">
          <div class="button-container position-absolute">
            <button
              (click)="enviarMensagem()"
              [disabled]="!form.get('resposta')?.value"
              matButton="filled">
              @if (UtilsService.loading.value) {
                <mat-spinner></mat-spinner>
              } @else {
                <mat-icon class="send-icon">send</mat-icon>
              }
            </button>
          </div>
        </mat-form-field>
      }
      @case (perguntaSolicitacao.tipo_input === 'CURRENCY') {
        <mat-form-field class="w-100">
          <input
            #respostaInput
            (keydown.enter)="form.get('resposta')?.value && enviarMensagem()"
            (keydown.space)="$event.stopPropagation()"
            [currencyMask]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
            class="position-relative input-pergunta"
            formControlName="resposta"
            matInput
            placeholder="Informe o valor R$">
          <div class="button-container position-absolute">
            <button
              (click)="enviarMensagem()"
              [disabled]="!form.get('resposta')?.value"
              matButton="filled">
              @if (UtilsService.loading.value) {
                <mat-spinner></mat-spinner>
              } @else {
                <mat-icon class="send-icon">send</mat-icon>
              }
            </button>
          </div>
        </mat-form-field>
      }
      @case (perguntaSolicitacao.tipo_input === 'DATE') {
        <mat-form-field class="w-100">
          <input
            #respostaInput
            (click)="picker.open()"
            (dateChange)="enviarMensagem()"
            [matDatepicker]="picker"
            formControlName="date"
            matInput
            placeholder="Escolha a data DD/MM/AAAA"
            readonly>
          <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      }
      @case (perguntaSolicitacao.tipo_input === 'DATETIME') {
        @let valido = form.get('date')?.value && form.get('time')?.value;
        <div class="w-100 row">
          <mat-form-field class="col-md-5 pr-0">
            <input
              (click)="picker.open()"
              [matDatepicker]="picker"
              formControlName="date"
              matInput
              placeholder="Selecione a data DD/MM/AAAA"
              readonly>
            <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-md-5 pr-0">
            <input
              (click)="timePicker.open()"
              [matTimepicker]="timePicker"
              formControlName="time"
              matInput
              placeholder="Selecione o horário HH:mm"
              readonly>
            <mat-timepicker-toggle [for]="timePicker" matIconSuffix />
            <mat-timepicker #timePicker />
          </mat-form-field>
          <div class="button-container col-md-2">
            <button
              (click)="enviarMensagem()"
              [disabled]="!valido"
              matButton="filled">
              @if (UtilsService.loading.value) {
                <mat-spinner></mat-spinner>
              } @else {
                <mat-icon class="send-icon">send</mat-icon>
              }
            </button>
          </div>
        </div>
      }
      @case (perguntaSolicitacao.tipo_input === 'TIME') {
        @let valido = form.get('time')?.value;
        <div class="w-100 row">
          <mat-form-field class="col-md-10 pr-0">
            <input
              (click)="timePicker.open()"
              [matTimepicker]="timePicker"
              formControlName="time"
              matInput
              placeholder="Selecione o horário HH:mm"
              readonly>
            <mat-timepicker-toggle [for]="timePicker" matIconSuffix />
            <mat-timepicker #timePicker />
          </mat-form-field>
          <div class="button-container col-md-2">
            <button
              (click)="enviarMensagem()"
              [disabled]="!valido"
              matButton="filled">
              @if (UtilsService.loading.value) {
                <mat-spinner></mat-spinner>
              } @else {
                <mat-icon class="send-icon">send</mat-icon>
              }
            </button>
          </div>
        </div>
      }
      @case (perguntaSolicitacao.tipo_input === 'CEP') {
        <mat-form-field class="w-100">
          <input
            #respostaInput
            (keydown.enter)="(form.get('resposta')?.value && form.get('resposta')?.value?.length === 9 && !UtilsService.loading.value) && enviarMensagem()"
            class="position-relative input-pergunta"
            formControlName="resposta"
            matInput
            placeholder="Informe o cep"
            plenoMask="cep"
            type="text">
          <div class="button-container position-absolute">
            <button
              (click)="enviarMensagem()"
              [disabled]="!form.get('resposta')?.value || form.get('resposta')?.value?.length < 9 || UtilsService.loading.value"
              matButton="filled">
              @if (UtilsService.loading.value) {
                <mat-spinner></mat-spinner>
              } @else {
                <mat-icon class="send-icon">send</mat-icon>
              }
            </button>
          </div>
        </mat-form-field>
      }
      @case (perguntaSolicitacao.tipo_input === 'CPF') {
        <mat-form-field class="w-100">
          <input
            #respostaInput
            (keydown.enter)="(form.get('resposta')?.value && form.get('resposta')?.value?.length === 14 && form.get('resposta')?.value?.length === 18 && !UtilsService.loading.value) && enviarMensagem()"
            autocomplete="off"
            class="position-relative input-pergunta"
            formControlName="resposta"
            matInput
            placeholder="Informe o seu CPF/CNPJ"
            plenoMask="cpfCnpj"
            type="text">
          <div class="button-container position-absolute">
            <button
              (click)="enviarMensagem()"
              [disabled]="!form.get('resposta')?.value || (form.get('resposta')?.value?.length !== 14 && form.get('resposta')?.value?.length !== 18) || UtilsService.loading.value"
              matButton="filled">
              @if (UtilsService.loading.value) {
                <mat-spinner></mat-spinner>
              } @else {
                <mat-icon class="send-icon">send</mat-icon>
              }
            </button>
          </div>
        </mat-form-field>
      }
      @case (perguntaSolicitacao.tipo_input === 'TEL') {
        <mat-form-field class="w-100">
          <input
            #respostaInput
            (keydown.enter)="form.get('resposta')?.value && enviarMensagem()"
            (keydown.space)="$event.stopPropagation()"
            class="position-relative input-pergunta"
            formControlName="resposta"
            matInput
            placeholder="Informe seu celular"
            plenoMask="celularDDD"
            type="tel">
          <div class="button-container position-absolute">
            <button
              (click)="enviarMensagem()"
              [disabled]="!form.get('resposta')?.value"
              matButton="filled">
              @if (UtilsService.loading.value) {
                <mat-spinner></mat-spinner>
              } @else {
                <mat-icon class="send-icon">send</mat-icon>
              }
            </button>
          </div>
        </mat-form-field>
      }
      @case (perguntaSolicitacao.tipo_input === 'FILE') {
        <mat-form-field class="w-100">
          <input
            (click)="selecionarArquivo()"
            (keydown.space)="$event.stopPropagation()"
            class="position-relative input-pergunta"
            matInput
            placeholder="Selecione arquivos"
            readonly
            type="text">
          <div class="button-container position-absolute">
            <button
              (click)="enviarMensagem()"
              [disabled]="!form.get('resposta')?.value"
              matButton="filled">
              @if (UtilsService.loading.value) {
                <mat-spinner></mat-spinner>
              } @else {
                <mat-icon class="send-icon">send</mat-icon>
              }
            </button>
          </div>
        </mat-form-field>
      }
    }
    <small class="mb-0">{{ time }}</small>
  </div>
  @if (!perguntaSolicitacao.obrigatorio) {
    <button
      (click)="enviarMensagem(true)"
      class="align-self-center bg-white pular-btn"
      matButton="outlined">
      <p class="mb-0">
        Pular
      </p>
    </button>
  }
</div>