.main-container-ia-message {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 50%;

  img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    object-fit: contain;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 6px 6px;
    background-color: #fff;
  }

  .ia-message {
    background-color: white;
    border-radius: 24px 24px 24px 4px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }
}

:host::ng-deep .mat-mdc-form-field-infix .input-pergunta {
  padding-right: 60px;
}

:host::ng-deep .mat-mdc-form-field-bottom-align {
  height: 4px;
}

.input-search {
  padding-right: 35px;
}

.icon-container {
  gap: 10px;
  right: 0;
  top: 18px;

  .search-icon {
    transform: rotate(90deg);
  }
}

.button-container {
  gap: 10px;
  right: 0;
  top: 12px;

  button {
    background-color: #01426a;
    width: 54px !important;
    min-width: 54px !important;
    height: 30px;

    mat-icon {
      margin: 0;
      color: white;
    }

    .send-icon {
      transform: rotate(315deg);
    }
  }

  button:disabled {
    background-color: rgba(1, 66, 106, 0.25);
  }
}

#pergunta-dark {
  .ia-message {
    background-color: #141414;
    border: 1px solid #333333;

    p {
      color: #fafafa;
    }

    a {
      color: #00D194 !important;
    }

    small {
      color: #b6b6b6;
    }

    .button-container button {
      background-color: #00D194;
    }

    .button-container button:disabled {
      background-color: rgba(0, 209, 148, 0.25);
    }
  }

  .pular-btn {
    background-color: #00D194 !important;

    p {
      color: #fafafa;
      font-weight: bold;
    }
  }

  ::ng-deep .mat-mdc-form-field .mdc-line-ripple::before {
    border-bottom-color: #00D194 !important;
  }

  ::ng-deep .mat-mdc-form-field .mdc-line-ripple::after {
    border-bottom-color: #00D194 !important;
  }

  ::ng-deep .mdc-text-field--filled {
    background-color: #5b5b5b !important;
  }

  ::ng-deep .mdc-text-field--filled:hover {
    background-color: #333333 !important;
  }

  ::ng-deep .mdc-text-field--invalid.mdc-text-field--filled {
    background-color: #5b5b5b !important;
  }

  ::ng-deep .mat-mdc-input-element,
  ::ng-deep .mat-mdc-select-value-text,
  ::ng-deep .mat-mdc-select-placeholder,
  ::ng-deep textarea.mat-mdc-input-element {
    color: #ededed !important;
    font-weight: 500;
  }

  ::ng-deep .mat-mdc-input-element::placeholder {
    color: #ededed !important;
    opacity: .9 !important;
    font-weight: 400;
  }
}

::ng-deep iframe {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
  .main-container-ia-message {
    max-width: 70%;
  }
}


@media (max-width: 800px) {
  .main-container-ia-message,
  .main-container-user-message {
    max-width: 100%;
    width: 100%;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 500px) {
  ::ng-deep iframe {
    width: 270px;
    max-width: 100%;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}