.main-container {
  padding: 2rem;

  .usu-container {
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    mat-icon {
      font-size: 112px;
      height: 112px;
      width: 112px;
    }

    img {
      height: 112px;
      width: 112px;
      border-radius: 100%;
      object-fit: cover;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
      padding: 6px 6px;
      background-color: #ffffff;
    }

    .container-add {
      background-color: #5e72e4;
      border-radius: 100%;
      bottom: 0;
      right: 0;
      height: 34px;
      width: 34px;
      display: flex;
      justify-content: center;
      align-items: center;

      mat-icon {
        font-size: 18px !important;
        height: 18px !important;
        width: 18px !important;
        color: #ffffff;
      }
    }
  }

  .imobiliaria-card {
    width: 100%;

    img {
      max-width: 75%;
      height: auto;
      align-self: center;
      max-height: 150px;
      border-radius: 8px
    }
  }

  .btn-back {
    width: 54px !important;
    min-width: 54px !important;

    mat-icon {
      margin: 0;
    }
  }

  .btn-container {
    gap: 10px;
    flex-direction: column;
  }
}

.mat-icon-add {
  right: 8px !important;
  bottom: 8px !important;
}

@media (max-width: 500px) {
  .main-container {
    padding: 1.5rem;
  }
}

input::placeholder {
  color: #a8a8a8 !important;
}

button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  border: none;

  p {
    color: #ffffff !important;
  }
}

button[mat-button][disabled] p,
button[mat-button][disabled] mat-icon {
  border: none;
  color: rgba(0, 0, 0, 0.38) !important;
}

:host ::ng-deep .mdc-floating-label--float-above mat-label {
  white-space: nowrap !important;
}

h5 {
  margin-bottom: 0;
}

:host ::ng-deep label {
  margin-bottom: 0 !important;
}