@if (cidadeOperacao) {
  <mat-card appearance="outlined" class="p-4" [class]="buttonText && 'mat-card-w-border'">
    <img
      [alt]="'logo-' + currentHost"
      [src]="'https://api.sistemaspleno.com/api/portalDoCliente/logo-imobiliaria?host=' + currentHost">
    <h3 class="text-center m-0">{{ empresa.imob_empresa }}</h3>
    <span class="text-center m-0">{{ cidadeOperacao.descricao_completa }}</span>
    <button (click)="aoSelecionar()" class="btn-solicitar" color="primary" matButton="filled">
      {{ buttonText || 'SELECIONAR' }}
      <mat-icon>calendar_month</mat-icon>
    </button>
  </mat-card>
} @else {
  <mat-card appearance="outlined" class="p-4 mat-card-tipo-vistoria" [class]="buttonText && 'mat-card-w-border'">
    <img
      [alt]="'logo-' + currentHost"
      [src]="'https://api.sistemaspleno.com/api/portalDoCliente/logo-imobiliaria?host=' + currentHost">
    <h3 class="text-center m-0">{{ tipoVistoria.tip_vis_descricao }}</h3>
    <button (click)="aoSelecionar()" class="btn-solicitar" color="primary" matButton="filled">
      {{ buttonText || 'SELECIONAR' }}
      <mat-icon>calendar_month</mat-icon>
    </button>
  </mat-card>
}