img {
  background-color: white;
  object-fit: cover;
}

#dark-user-message {
  .user-message {
    background-color: #00b580;
    border: 1px solid #333333;

    p {
      color: #fafafa;
    }

    small {
      color: #fafafa;
    }
  }
}

@media (max-width: 1200px) {
  .main-container-ia-message {
    max-width: 70%;
  }
}


@media (max-width: 800px) {
  .main-container-ia-message,
  .main-container-user-message {
    max-width: 100%;
    width: 100%;

    img {
      width: 30px;
      height: 30px;
    }
  }
}