img {
  width: 200px;
  height: auto;
  align-self: center;
}

mat-card {
  max-width: 300px;

  .btn-solicitar {
    align-self: center;
    text-align: center;
    width: 100%;
    height: 50px;

    mat-icon {
      color: white;
    }
  }
}