<div
  [id]="backend.isHostAberto ? 'ia-message-dark':''"
  class="main-container-ia-message">
  <img
    #img
    (error)="img.src = this.defaultImage"
    [src]="logoEmpresa"
    alt="logo-empresa"
    loading="lazy">
  <div class="ia-message px-4 py-2">
    <p
      [innerHTML]="((mensagemIa?.message || '') | nl2br)"
      class="mb-1"></p>
    @if (mensagemIa?.error?.callback) {
      <button
        class="d-block mb-2 btn btn-outline-danger btn-sm"
        (click)="mensagemIa?.error?.callback()">
        <i class="far fa-paper-plane"></i>
        Tentar novamente
      </button>
    }
    <small
      [class.text-danger]="mensagemIa?.error?.callback"
      class="mb-0">
      {{ mensagemIa?.time }}
    </small>
  </div>
</div>