<div [id]="'ia-message-' + index" class="main-container-ia-message">
  <img
    [src]="logoEmpresa"
    alt="logo-empresa">
  <div class="ia-message px-4 py-2">
    @if (!messageObj?.loading) {
      @if (!messageObj?.regen) {
        <p [innerHtml]="((messageObj?.message || '') | nl2br)" class="mb-1"></p>
      } @else {
        <div>
          <p [innerHtml]="((messageObj?.message || '') | nl2br)" class="mb-1"></p>
          <button
            class="mb-1"
            color="primary"
            matButton="filled"
            (click)="disparaReenviarMensagem.emit({dado: messageObj?.dado, tipoDado: messageObj?.tipoDado})"
            type="button">
            <div class="d-flex flex-row align-items-center">
              <b>TENTAR NOVAMENTE</b>
              <mat-icon>sync</mat-icon>
            </div>
          </button>
        </div>
      }
    } @else {
      <p class="mb-1">{{ digitandoTexto }}</p>
    }
    <small class="mb-0">{{ messageObj?.time }}</small>
  </div>
</div>