// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'assets/theming' as *;
@use 'assets/global' as *;
@import 'assets/fonts/font';

html, body {
  height: 100%;
}

body {
  padding: 100px 0 0 0;
  margin: 0;
  background-color: #ffffff;
}

h1 {
  font-family: 'Mulish Black', sans-serif !important;
  color: #01426a;
  font-size: 32px !important;
  line-height: 32px !important;
}

h2 {
  font-family: 'Mulish Bold', sans-serif !important;
  color: #01426a;
  font-size: 24px !important;
  line-height: 24px !important;
}

h3 {
  font-family: 'Mulish Bold', sans-serif !important;
  color: #01426a;
  font-size: 18px !important;
  line-height: 18px !important;
}

p {
  font-family: 'Mulish Light', sans-serif !important;
  color: #01426a;
  font-size: 14px !important;
  line-height: 16px !important;
}

span {
  font-family: 'Mulish Light', sans-serif !important;
  font-size: 14px !important;
  line-height: 16px !important;
}

small {
  font-family: 'Mulish Light', sans-serif !important;
  color: #01426a;
  font-size: 11px !important;
}

.font-circular-book {
  font-family: 'Circular Std Book', sans-serif !important;
}

.font-circular-bold {
  font-family: 'Circular Std Bold', sans-serif !important;
}

.font-circular-black {
  font-family: 'Circular Std Black', sans-serif !important;
}

.font-circular-medium {
  font-family: 'Circular Std Medium', sans-serif !important;
}

.font-mulish-black {
  font-family: 'Mulish Black', sans-serif !important;
}

.font-mulish-bold {
  font-family: 'Mulish Bold', sans-serif !important;
}

.font-mulish-extralight {
  font-family: 'Mulish ExtraLight', sans-serif !important;
}

.font-mulish-light {
  font-family: 'Mulish Light', sans-serif !important;
}

.font-mulish-regular {
  font-family: 'Mulish Regular', sans-serif !important;
}

.color-white {
  color: #ffffff !important;
}

@media (max-width: 1100px) {
  h2 {
    font-family: 'Mulish Bold', sans-serif !important;
    color: #01426a;
    font-size: 20px !important;
  }
}

@media (max-width: 910px) {
  h2 {
    font-family: 'Mulish Bold', sans-serif !important;
    color: #01426a;
    font-size: 16px !important;
  }
}